/** about.html **/
.body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 99%;
}
.problem-statement {
    background-color: #7290C6;
    height: 50%;
}
.bio {
    background-color: #CFCCC7; 
    height: 50%;
}
.text {
    padding-top: 50px;
}
.about-inner {
    width: 65%;
    margin: auto;
    font-size: 18px;
}
.about-inner img {
    width: 50px;
    height: auto;
    border-radius: 50%; 
}

/** General **/
h1 {
    text-align: center;
}
body {
    margin: 0;
}
html {
    font-family: Mulish, sans-serif;
}